*debug
*jou
*log
.Xil
vivado_*
*dcp
*bit
*_proj
usage_statistics_webtalk.html
usage_statistics_webtalk.xml
hd_visual
*timing
*.m
.vscode/
/data/SPAD/batch_0/up0out
/data/SPAD/batch_0/up1out
conv3d_layer
all_layer
conv_trans3d_layer
testfilters
testinput
testnormoutput
testnormreluoutput
testoutput
.idea/
